
.worker-select-temporary-main-container{
    display: flex;
    flex-direction: column;
}

.worker-select-temporary-main-header{
    width: 50%;
    margin: 0 auto;
}

.worker-select-temporary-main-session{
    margin: 0 auto;
    width: 50%;
}

.worker-select-temporary-main-bottomMenu{
    width: 50%;
    margin: 0 auto;
}



@media screen and (max-width: 800px){
    .worker-select-temporary-main-header{
        width: 100%;
        margin: 0 auto;
    }
    
    .worker-select-temporary-main-session{
        margin: 0 auto;
        padding-bottom: 6px;
        padding-top: 5px;
        width: 100%;
    }
    
    .worker-select-temporary-main-bottomMenu{
        width: 100%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 500px){
    .worker-select-temporary-main-header{
        width: 100%;
        margin: 0 auto;
    }
    
    .worker-select-temporary-main-session{
        margin: 0 auto;
        padding-bottom: 6px;
        padding-top: 5px;
        width: 100%;
    }
    
    .worker-select-temporary-main-bottomMenu{
        width: 100%;
        margin: 0 auto;
    }
}