.schedule-enroll-conteiner{
    display: flex;
    flex-direction: column;
}

.worker-schedule-enroll-header{
    width: 50%;
    margin: 0 auto;
}

.worker-schedule-enroll-main{
    margin: 0 auto;
    width: 50%;
}

.worker-schedule-enrollBottomMenu{
    width: 50%;
    margin: 0 auto;
}

@media screen and (max-width: 650px){
    .worker-schedule-enroll-header{
        width: 100%;
        margin: 0 auto;
    }
    
    .worker-schedule-enroll-main{
        margin: 0 auto;
        width: 100%;
    }
    
    .worker-schedule-enrollBottomMenu{
        width: 100%;
        margin: 0 auto;
    }
}