
.contents{
    position: fixed;
    width: 300px;
    height: 450px;
    border: 3px solid #A87EFF;
    top: 50%;
    left: 50%;
    background-color: #fbfbf8;
    border-radius: 10px;
    transform: translate(-50%, -50%);
}

.authority-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-pw-input {
    margin-top: 10rem;
}

.submit-button{
    width: 100px;
    background: #A87EFF;
    border: none;
    font-weight: bold;
    border-radius: 30px;
    margin-top: 2rem;
    cursor: pointer;
    margin-right: 5px;
}

.cancel-button{
    width: 100px;
    background: #A87EFF;
    border: none;
    font-weight: bold;
    border-radius: 30px;
    margin-top: 2rem;
    cursor: pointer;
}